[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
pylint = "*"
pylint-django = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-heroku = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
