.tags a img{

width: 30px;
}
.tags a{
    padding: 30px;
    padding-top:20px ;
}
.tags{
    margin-top:2vh;
}
@media  screen and (max-width:900px){
    .tags {
        margin-top: 100px;
    }
}
@media screen and (max-width:412px){
    .tags{
        margin-top: 190px;

    }
    
}
@media screen and (max-width:360px){
    .tags{
        margin-top: 140px;

    }
    
}